/* COLOR */

$primaryColor1: rgb(255, 122, 122);
$primaryColor2: rgb(56, 204, 140);

$secondaryColor1: rgb(96, 85, 165);
$secondaryColor2: rgb(62, 60, 73);
$secondaryColor3: rgb(185, 182, 211);

$test: opacify(rgb(185, 182, 211), 0.5)